# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=""
GCS_BUCKET_NAME=""

# Supabase
SUPABASE_URL=""
SUPABASE_KEY=""

# Zilliz Cloud
ZILLIZ_CLOUD_URI=""
ZILLIZ_CLOUD_TOKEN=""

# Gemini
GEMINI_API_KEY=""

# Creatomate
CREATOMATE_API_KEY=""
